{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">

      <div class="col-md-12">

      <h3>OPEN CALC</h3>
      <h4>TOOLS - REFERENCE - ANALYSIS -  EDUCATION</h4>
     {%- for message in get_flashed_messages() %}
     <div class="col-md-12">
      {{ message }}
      </div>
      {%- endfor %}
      </br>

      {% if g.user.is_authenticated%}
        <a class="btn btn-lg btn-default" role="button" href="{{ url_for('posit') }}" class="btn-primary">Symbols</a>
        <a class="btn btn-lg btn-default" role="button" href="{{ url_for('tradeview') }}" class="btn-primary">Tracking</a>
        <a class="btn btn-lg btn-default" role="button" href="{{ url_for('crposit') }}" class="btn-primary">Blockchain</a>
        <a class="btn btn-lg btn-default" role="button" href="{{ url_for('tradearch') }}" class="btn-primary">Archived</a>
        </br></br>
        <a href="{{ url_for('logout') }}" class="btn btn-lg btn-default" role="button" class="btn-primary">Logout</a></li>


      {% endif %}


      {% if not g.user.is_authenticated%}
      <a href="{{ url_for('login') }}" class="btn btn-lg btn-default" role="button" class="btn-primary">Access site</a></li>

      {% endif %}




        </div>



    </div>
  </main>
{% endblock %}
