{% extends "bootstrap/base.html" %}

<!DOCTYPE html>
<html>
  <head>
    <style type="text/css"> a {text-decoration:none;} </style>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" >

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.css"/>

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97619739-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-97619739-1');
  </script>



  </head>
  <body>
    <header>
 {% block title %}Open Calculator{% endblock %}
    </header>
  
    {% block content %}
    {% endblock %}





  </body>
</html>
